.button {
  color: rgb(79, 126, 255);
  border: solid rgb(79, 126, 255) 2px;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  color: rgb(255, 78, 196);
  border: solid rgb(255, 78, 196) 2px;
}