.header {
  text-align: center;
  padding: 80px 0;
  cursor: pointer;
  color: rgb(70, 70, 70);
  font-weight: bold;

  &-title {
    font-size: 2rem;
    color: rgb(70, 70, 70);
  }
}

.container {
  display: flex;
  justify-content: center;

  &-main {
    width: min(92%, 800px);
    .footer {
      margin-top: 20px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-sidebar {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      padding: 1.5rem;
    }
  }
}
