.header {
  text-align: center;
  padding: 80px;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 2rem;
}