.post {
  margin: 3rem 0;
}

.title {
  margin: 1.5rem 0;
  border-left: solid rgb(79, 126, 255) 5px;
  padding-left: 10px;
}

/* .thumbnailWrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.thumbnailWrapper img {
  max-width: 100%;
  height: auto;
} */

.thumbnailWrapper {
  background-color: rgb(50, 50, 50);
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.thumbnailWrapper img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.content {
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  padding: 0.5rem 0;
  line-height: 1.5rem;
  color: rgb(70, 70, 70)
}

.content h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-left: solid rgb(255, 78, 196) 3px;
  padding-left: 10px;
}

.content p code {
  background-color: rgba(79, 126, 255, 0.1);
  color: rgb(255, 78, 196, 0.8);
  margin: 0 0.1rem;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.content ul {
  list-style: disc;
  margin-left: 2rem;
  padding: 0.3rem 0;
  line-height: 1.5rem;
}

.content ul ul {
  list-style: circle;
}

.content li {
  /* padding: 0.2rem 0; */
}

/* .content img {
  max-width: 100%;
  height: auto;
} */

.shareButtonsWrapper {
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-evenly;
}