.title {
  margin: 1.5rem 0;
  border-left: solid rgb(220, 220, 220) 5px;
  padding-left: 10px;
}

.thumbnailWrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.thumbnailWrapper img {
  max-width: 100%;
  height: auto;
}

.content {
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  padding: 0.5rem 0;
  line-height: 1.5rem;
  color: rgb(200, 200, 200)
}

.content h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-left: solid rgb(220, 220, 220) 3px;
  padding-left: 10px;
}

.content p code {
  background-color: #636363;
  margin: 0 0.1rem;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.content ul {
  list-style: inside;
  margin-left: 1rem;
  padding: 0.3rem 0;
  line-height: 1.5rem;
}

.content li {
  /* padding: 0.2rem 0; */
}

.shareButtonsWrapper {
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-evenly;
}