.post {
  margin-bottom: 2rem;
}

.pageNationWrapper {
  display: flex;
  justify-content: center;
}

.pageNationWrapper > span {
  padding: 0 5px;
  cursor: pointer;
  color: rgb(79, 126, 255);
}

.pageNationWrapper > span:hover {
  color: rgb(255, 78, 196);
}