$primary-color: rgb(79, 126, 255);
$secondary-color: rgb(255, 78, 196);
// 背景色
$background-color: rgba(79, 126, 255, 0.3);
$background-color-secondary: rgba(255, 78, 196, 0.2);
// フォント色
$primary-font-color: rgb(70, 70, 70);
// サムネイル背景色
$thumbnail-background-gradation-color-start: rgba(79, 126, 255, 0.8);
$thumbnail-background-gradation-color-end: rgba(255, 78, 196, 0.8);