@use './variables';
// $primary-color: rgb(79, 126, 255);
// $secondary-color: rgb(255, 78, 196);
// // 背景色
// $background-color: rgba(79, 126, 255, 0.3);
// // フォント色
// $primary-font-color: rgb(70, 70, 70);

body {
  width: min(92%, 600px);
  margin: 0 auto;
  /* background: linear-gradient(rgba(79, 126, 255, 0.3), rgba(255, 78, 196, 0.3)); */
  background: variables.$background-color;
  color: variables.$primary-font-color;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  letter-spacing: 0.05rem;
  font-size: 0.95rem;
  /* 英文の折返し */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

title {
  font-size: 1.7rem;
}

h1 {
  color: variables.$primary-font-color;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

h2 {
  color: variables.$primary-font-color;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

h3 {
  color: variables.$primary-font-color;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

p {
  font-size: 1rem;
  /* padding: 0.5rem 0; */
  line-height: 1.5rem;
  color: variables.$primary-font-color;
}

a {
  color: variables.$primary-color;
}

a:hover {
  color: variables.$secondary-color;
}

/* 記事内の画像の中央寄せ */
.postImgWrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.postImgWrapper img {
  max-width: 100%;
  height: auto;
}

/* youtubeの埋め込み動画のレスポンシブ対応 */
.movie-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}